doctype html
html
  head
    title Alejandra Web1
    link(rel='STYLESHEET', href='colores.css', type='text/css')
  body
    h1 LEY GENERAL DE ACCESO DE LAS MUJERES A UNA VIDA LIBRE DE VIOLENCIA
    h2
      | Publicada en 1º de febrero de 2007, la Ley General de Acceso de las Mujeres a una Vida Libre de Violencia ha sido reformada constantemente de acuerdo con la realidad social y necesidades del país.
    p1
      | "Es una ley de orden público, interés social y de observancia general en la República Mexicana."
    p
      | Tiene por objetivo establecer la coordinación entre la Federación, las entidades federativas, el Distrito Federal y los municipios para prevenir, sancionar y erradicar la violencia contra las mujeres, así como los principios y modalidades para garantizar su acceso a una vida libre de violencia que favorezca su desarrollo y bienestar conforme a los principios de igualdad y de no discriminación, así como para garantizar la democracia, el desarrollo integral y sustentable que fortalezca la soberanía y el régimen democrático establecidos en la Constitución Política de los Estados Unidos Mexicanos
    td1 PRINCIPIOS
    table
      tbody
        tr
        tr
          td
            ul
              li Igualdad jurídica entre hombre y mujer.
              li Respeto a la dignidad humana.
              li No discriminación.
              li Libertad de las mujeres.
          td
            center
              img(src='https://www.gob.mx/cms/uploads/document/main_image/37023/ley-mujeres.jpg', width='400', height='341')
    ul
      li Diseño de página Ing.Alejandra López
      li Contacto ingalépilares@gmail.com
      li
        a(href='https://www.gob.mx/conavim/documentos/ley-general-de-acceso-de-las-mujeres-a-una-vida-libre-de-violencia-pdf') Ley General de Acceso de las Mujeres a una Vida Libre de Violencia
      a(href='https://www.gob.mx/conavim/documentos/ley-general-de-acceso-de-las-mujeres-a-una-vida-libre-de-violencia-pdf')
    a(href='https://www.gob.mx/conavim/documentos/ley-general-de-acceso-de-las-mujeres-a-una-vida-libre-de-violencia-pdf')